.nav-item {
  position: relative;
  display: inline-block;
  padding: 0 8px;
  height: 100%;
  vertical-align: middle;
  cursor: default;
  background-color: #d8d8d8;
  border-radius: 4px;

  &::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  &--active {
    color: #fff;
    background-color: #3864ff;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }

  &__content {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
  }

  &__close {
    margin-right: -2px;
    margin-left: 8px;
  }
}
